<div class="user-profile">
    <div class="profile row">
        <div class="col-md-4 avatar">
            <div class="wrapper">
                <img src="https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80">
            </div>
        </div>

        <div class="col-md-8 basic-info">
            <div class="user-wrapper">
                <h2 class="username"><%= current_user.username %></h2>
                <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
                    <button>Edit Profile</button>
                </a>
            </div>
        </div>
    </div>
</div>